<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
        </div>
      </div>
    </div>
  </body>
</html>
